<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>react-wechat-emoji</title>



</head>
<body>
    <div id="root"></div>
    <!-- <script type="text/javascript" src="../js/dist/common.js"></script> -->
    <script type="text/javascript" src="./js/dist/app.bundle.js"></script>
</body>
</html>
